<nav>
  <div class="btns">
    {% for entry in site.data.navigation %}
      {% if entry.url contains "https" %}
        {% capture fullurl %}{{ entry.url }}{% endcapture %}
      {% else %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
      {% endif %}
      {% capture sty %}title:{{ entry.title }};{% endcapture %}
      {% if entry.url == current_page %}
        {% capture sty %}{{ sty | append: ' color:#000;' }}{% endcapture %}
      {% endif %}
      <h3 style="{{ sty }}" class="btn"><a href="{{ fullurl }}">{{ entry.label }}</a></h3>
    {% endfor %}
  </div>
</nav>
