<nav>
  <div class="btns">
    {% for entry in site.data.navigation %}
      {% if entry.url contains "https" %}
        {% capture fullurl %}{{ entry.url }}{% endcapture %}
      {% else %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
      {% endif %}
      {% if entry.url == current_page %}
        {% assign sty = 'color:#99c;' %}
      {% endif %}
      <h3 style="{{ sty }}" class="btn"><a href="{{ fullurl }}" title="{{ entry.title }}">{{ entry.label }}</a></h3>
    {% endfor %}
  </div>
</nav>
