{% for entry in site.data.navigation %}
  {% if entry.url contains "https" %}
    {% capture fullurl %}{{ entry.url }}{% endcapture %}
  {% else %}
    {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
  {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
  <div class="btns">
    {% for entry in site.data.navigation %}
      {% capture sty %}title:{{ entry.title }};{% endcapture %}
      {% if entry.url == current_page %}
        {% capture sty %}{{ sty | append: ' color:#000;' }}{% endcapture %}
      {% endif %}
      <h3 style="{{ sty }}" class="btn"><a href="{{ fullurl }}">{{ entry.label }}</a></h3>
      <!-- {% assign sublinks = entry.sublinks %} -->
      <!-- {% if sublinks %} -->
      <!-- <li{{ current }}>
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
          <ul>
              {% for sublink in sublinks %}
              <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
              {% endfor %}
          </ul>
      </li>
      {% else %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
      {% endif %} -->
    {% endfor %}
  </div>
</nav>
